<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="designed.zq2jsr.browser">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission. READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.浏览器定制版"
            android:usesCleartextTraffic="true"
            android:fullBackupContent="@xml/backup_descriptor"
            tools:ignore="ExtraText"
            android:resizeableActivity="true"
            tools:targetApi="n">
        <!-- 开始沉浸式配置 (如果并不需要针对刘海屏执行操作，那么不需要配置)-->
        <meta-data
                android:name="android.max_aspect"
                android:value="2.4" />
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
                android:name="android.notch_support"
                android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
                android:name="notch.config"
                android:value="portrait|landscape" />
        <!-- 结束沉浸式配置 -->
        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="fullSensor"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".MyWebViewActivity"/>

    </application>
</manifest>